*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --colorRosita: #f1c0e8
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #AD1F9A;
}

#start{
    padding: 15px;
    margin-top: 250px;
    margin-right: 50px;
    font-family: 'Pathway Gothic One', sans-serif;
    color:rgb(246, 246, 246);
    background-color: #C710AF;
    border-radius: 15px;
    border-style: 1px solid #AD1F9A;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#start:hover{
    background-color: transparent;
    border: 1px solid white;
}

canvas {
  border: 1px solid black;
  margin: 1rem 0;
  background-size: 800px 500px;
  background-image: url("./img/katalien.gif");
   /* background-color: black; */
}

.container{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.noShow{
    display: none;
}


    .social-bar {
        position: fixed;
        right: 0;
        top: 35%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
      }
  
      .icon {
        color: whitesmoke;
        text-decoration: none;
        padding: .7rem;
        display: flex;
        transition: all .5s;
      }
  
      .icon-facebook {
        background: rgba(41, 104, 221, 0.6);
        border-radius: 1rem 0 0 0;
      }
  
      .icon-instagram {
        background: rgba(199, 52, 179, 0.6);
      }
  
      .icon-twitter {
        background: rgba(41, 217, 223, 0.6);
      }
  
      .icon-linkedin {
        background: rgba(80, 55, 219, 0.6);
      }

      .icon-github {
        background: rgba(4, 1, 18, 0.6);
        border-radius: 0 0 0 1rem;
      }
